<h2><%= currentUser.name %>'s Profile</h2>

<h1>All Your Favorite  Keto Recipes</h1>

<%foundUser.forEach(function(result) {%>
<%=foundUser.ketoRecipeUrl%><%=foundUser.ketoRecipeLabel%>
<ul>
    <li>
        <a href="<%=result.ketoRecipeUrl%>" target="_blank">"<%=result.ketoRecipeLabel%></a>
    </li>
</ul>
<%})%>