<h2>
    <%= currentUser.name %>'s Profile
</h2>

<h1>All Your Favorite Keto Recipes</h1>
<div>
    <%foundUser.forEach(result=> {%>
        <ul>
            <li>
                <a href="<%=result.ketoRecipeUrl%>" target="_blank">
                    <%=result.ketoRecipeLabel%>
                </a>
                <form action="/profile/<%= result.id%>/?_method=DELETE" method="POST">
                    <input type="submit" value="Delete this Keto Recipe Link">
                </form>

                <form action="/profile/<%= result.id %>/?_method=PUT" method="POST">
                    <label for="ketoRecipeLabel">Keto Recipe Name</label>
                    <input type="text" id="ketoRecipeLabel" name="ketoRecipeLabel" value="<%=result.ketoRecipeLabel%>">
                    <input type="submit" value="Edit the recipe name to your Liking">
                </form>

            </li>
        </ul>
        <%})%>
</div>

